temp/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/**
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
/model
/tests
temp/enum
temp/log-pruning
.ipynb_checkpoints/**
createDataset.ipynb
testIdeaWithWeightOptimization.ipynb
/wandb/**
/models/**
/datasets/phishing_dataset/
/datasets/phishing_dataset_full.csv
**__pycache__
/temp/tmp
temp/tmp
log-jailbreak
temp/dataset_analisys.ipynb
temp/prompt_to_llm.ipynb
temp/tester.ipynb
temp/.ipynb_checkpoints
temp/*.ipynb
temp/__pycache__
temp/.pytest_cache
**/__pycache__
**/log-jailbreak
**/**/log-jailbreak